@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  color: crimson;
}

h3 {
  font-size: 1.2em;
}

main {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  padding: 10px;
  background-color: black;
  color: white;
}

.nav-item {
  font-size: larger;
  margin: 3px;
}

.nav-title {
  font-size: xx-large;
}

a.nav-item {
  text-decoration: none;

  &:link,
  &:visited {
    color: crimson;
  }

  &:focus,
  &:hover,
  &:active {
    color: white;
  }
}

code,
.server-response {
  background-color: black;
  color: white;
  padding: 2px 5px;
  font-family: "Roboto Mono", monospace;
}

.server-response {
  overflow-y: scroll;
  height: 500px;
  overflow-wrap: break-word;
  max-width: 400px;
}

.doc-example {
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

#flex-columns {
  display: flex;
  align-items: stretch;
}

.column {
  flex: 50%;
}